*{
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; 
}

.nav {
    position: sticky;
    top: 0px;
    z-index: 10;

    line-height: 80px;
}

.titre {
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
}

a, a:hover, a:link {
    color: white;
    text-decoration: none;
}

.bordure {
    border: solid;
    border-color: rgb(145, 145, 145);
}

.bordure2 {
    border: dashed black;
    border-color: rgb(145, 145, 145);
}

.nom {
    font-size: 50px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

label.profil {
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    float: right;
    margin-right: 20px;
}

/* --- Liste des espace --- */
.espace1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.espace2 {
    margin-bottom: 20px;
}

.espace3 {
    margin-top: 100px;
}

.espace4 {
    margin-top: 50px;
}

.espace5 {
    margin-top: 20px;
}

.espace6 {
    margin-bottom: 50px;
}

/* -------------------------- */

.bloc {
    margin: 10px;

    width: 300px;
}

.image {
    height: 350px;
    max-width: 280px;
}

#listeMarque {
    min-height: 190px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    position: absolute;
    width: 300px;
    display: contents;
}

/*
.description {
    min-height: 60px;
    margin-bottom: 0px;
}
*/
.aGauche {
    float: left;
    margin-bottom: -10px;
}

.centrer {
    text-align: center;
    margin-top: -10px;
    max-width: 1000px;
}

.centrer2 {
    text-align: center;
}


.aDroite {
    float: right;
    margin-bottom: -10px;
}

.logoBlanc {
    color: white;
}

.secondLogo {
    color:rgb(0, 0, 0, 0.3);
}

.logoPromo {
    color:rgba(255, 0, 0);
}

.erreur {
    background-color: rgb(179, 87, 87);
    color: black;
}

.valide {
    background-color: rgb(87, 187, 57);
    color: black;
}